
html,
body {
	height: 100%;
}

html {
	line-height: 1.4;
	font-family: 'Montserrat';
}

body {
    margin: 0;
	background: #daf1ff;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
}

a {
	color: #AD4200;
	transition: all .25s;

	&:hover {
		color: lighten(#AD4200, 10%);
	}
}

@media (min-width: 767px) {

	body {
		overflow: hidden;
	}
}