.source-container {
    position: fixed;
    z-index: 2;
    top: 2em;
    bottom: 2em;
    left: 100%;
    width: 90%;

    transition: all .5s;

    &.active {
        left: 10%;
    }

    &.correct {

        .title {
            color: green;
        }
    }

    .sources {
        position: relative;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 1em;
        height: 100%;
        background: #fdfdfd;
        box-shadow: 2px 1px 19px rgba(0, 0, 0, 0.15);
    }

    .title {
        color: red;
        font-size: 60px;
        line-height: 60px;

        ~  div {
            margin-top: 30px;
        }
    }

    span {
        position: relative;
        top: .06em;
    }

    .references {

        ul {
            margin: 0;
            padding-left: 20px;
        }
    }
}