@import 'reset.less';
@import 'variables.less';
@import 'buttons.less';
@import 'animations.less';
@import 'intro.less';
@import 'title.less';
@import 'sources.less';
@import 'footer.less';


.game-container {
	display: none;
	text-align: center;
	padding-top: 100px;

	&.active {
		display: block;
		animation: fadeIn .7s;
		animation-delay: .4s;
	}

	.title-container {
		margin-bottom: 100px;
	}
}

.cue-card-container {
	position: relative;
	margin: 0 auto;
	padding: 0 20px;
	max-width: 750px;
	text-align: left;
}

.cue-card {
	margin: 0 auto;
	font-family: 'Pangolin', cursive;
	transition: all .5s;
	
	&.behind {
		position: absolute;
		top: 50%;
		left: 50%;	
		transform: translate(-50%, -50%) rotate(4deg);
	}

	&.active {
		z-index: 2;
		transform: rotate(1deg);
	}

	&.incorrect {

		.answer {
			color: red;
		}
	}
}

.cue-card {
	background: #fdfdfd;
	background: linear-gradient(to bottom, #DFE8EC 0%, white 8%) 0 60px;
	background-size: 100% 30px;
	width: 400px;
	box-shadow: 2px 1px 19px rgba(0, 0, 0, 0.15);
	line-height: 30px;
	font-size: 18px;
	
	&:after {
		content: ''; 
		position: absolute; 
		width: 0px; 
		top: 0; 
		left: 40px; 
		bottom: 0; 
		border-left: 1px solid #F8D3D3;
	}

	.inner {
		padding-bottom: 75%;
	}
	
	.content {
		position: absolute;
		top: 30px;
		right: 10px;
		left: 50px;
	}

	.answer {
		color: green;
		line-height: 60px;
		font-size: 60px;
	}

	.information,
	.quote {
		margin-top: 30px;
	}
		
	span {
		position: relative;
		top: 0.06em;
	}
}

.button-container {
	margin-top: 20px;
	text-align: center;
}