.game-title-container {
	position: relative;

	.face {
		position: absolute;
		z-index: 0;
		bottom: 0;
		left: 50%;
		transform: rotate(5deg) translateX(-50%);
		background: transparent;

		.content {
			width: 20vw;
			height: 20vw;
			border-top-right-radius: 45%;
			border-top-left-radius: 45%;
			background: #efe4c4;
		}

		.eye {
			position: absolute;
			top: 60px;
			border-radius: 50%;
			background: #fff;
			width: 40px;
			height: 40px;
			overflow: hidden;
		}

		.left-eye {
			left: 50px;
		}

		.right-eye {
			right: 50px;
		}
		
		.pupil {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 20px;
			height: 20px;
			background: #000;
			border-radius: 50%;
		}
	}
}

.game-title {
	display: inline-block;
	position: relative;
	z-index: 1;
	line-height: 1;
	font-size: 8vw;
	background: @primary--color;
	border-radius: .1em;
	box-shadow: 2px 1px 19px rgba(0, 0, 0, 0.15);

	div {
		display: inline-block;
		vertical-align: top;
		padding: 0.05em .2em;
		border-radius: .2em;
		letter-spacing: -0.01em;
		line-height: 1;
		color: #fff;
		text-transform: uppercase;
		font-weight: 900;
		Background: @primary--color;
	}
	
	span {
		line-height: 1;
		display: inline-block;
		vertical-align: top;
	}
}

@media (max-width: 767px) and (orientation: portrait) {

    .game-title {
        font-size: 10vw;

        div {
            display: block;
        }
    }
}

@media (min-width: 1200px) {

	.game-title-container {

		.face {

			.content {
				width: 260px;
				height: 260px;
			}
		}
	}

	.game-title {
		font-size: 96px;
	}
}